@font-face {
    font-family: roboto-light;
    src: url(./assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
}

html {
    --dark-purple: #140330;
    --purple: #3D0A91;
    --light-purple: #e1cffd;
    --light: #f9f5ff;
    --bright-purple: #520cc3;
    font-family: roboto-light;
}

button {
    all: unset;

    padding: 15px;
    box-sizing: border-box;

    font-family: roboto-medium;
    border-radius: 10px;
    background-color: white;
    color: var(--dark-purple);
}

button:hover {
    opacity: 0.9;   
}

button:active {
    opacity: 0.8;   
}

p {
    margin: 0;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 1.5;
    display: inline-block;
}

.tag-text {
    box-sizing: border-box;
    padding: 4px;

    font-family: roboto-medium;
    color: white;
    background-color: var(--bright-purple);
}

.highlight-text {
    font-family: roboto-medium;
    color: light;
}
